
<!-- The Modal -->
<div class="modal" id="myModal-formViseDef">
<div class="modal-dialog">
    <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
        <h6 class="modal-title">Veillez completer, s'il vous plait!</h6>
        <button type="button" class="close btn-annule" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
       
    <form method="POST">
            <div class="form-group">
                <input required type="text" class="form-control enregDefEnregBeLivreNum" id="" name="enregDefEnregBeLivreNum">
            </div>
            <div class="form-group">
                <label class="text-capitalize font-weight-bold">Date de paraphe</label>
                <input required type="text" class="form-control date-lire" id="" name="enregDefDateDaraphe">
            </div>
            <button type="submit" name="action" value="actionDefVise" class="btn btn-info float-left">OK</button>
            <button type="button" class="btn btn-annule btn-danger float-right" data-dismiss="modal">Annuler</button>
        </form>

    </div>

    <!-- Modal footer -->
    <div class="modal-footer d-block">
    </div>

    </div>
</div>
</div>