
<!-- The Modal -->
<div class="modal" id="myModal-formAddTef">
<div class="modal-dialog">
    <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
        <h6 class="modal-title">Veillez completer, s'il vous plait!</h6>
        <button type="button" class="close btn-annule" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
       
    <form method="POST">
            <input required type="text" class="form-control enregTefEnregBeNum" id="" name="enregTefEnregBeNum">
            <input required type="text" class="form-control enregTefEnregBeLivreNum" id="" name="enregTefEnregBeLivreNum">
            <div class="form-group">
                <label class="text-capitalize font-weight-bold">Numero de Tef</label>
                <input required type="text" class="form-control" id="" name="enregTefNum">
            </div>
            <div class="form-group">
                <label class="text-capitalize font-weight-bold">Numero de visa</label>
                <input required type="text" class="form-control" id="" name="enregTtefNumVisa">
            </div>
            <div class="form-group">
                <label class="text-capitalize font-weight-bold">Objet de Tef</label>
                <input type="text" class="form-control" id="" name="enregTefObjet">
            </div>
            <div class="form-group">
                <label class="text-capitalize font-weight-bold">Date de Tef</label>
                <input required type="text" class="form-control" id="" name="enregTefDate">
            </div>
            <button type="submit" class="btn btn-info float-left">Enregistrer</button>
            <button type="button" class="btn btn-annule btn-danger float-right" data-dismiss="modal">Annuler</button>
        </form>

    </div>

    <!-- Modal footer -->
    <div class="modal-footer d-block">
    </div>

    </div>
</div>
</div>