<!-- The Modal -->
<div class="modal" id="myModal-viewRejetMotifDetail">
<div class="modal-dialog">
    <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
       
    </div>

    <!-- Modal body -->
    <div class="modal-body text-center">
       
        <div id="motif-content-detail">
 
        </div>

    </div>

    <!-- Modal footer -->
    <div class="modal-footer d-block">
    </div>

    </div>
</div>
</div>